body {
    margin: 0;
    padding: 0;
}

li{
  list-style: none;
}

i {
    font-style: normal;
    white-space: nowrap;
}

input::-webkit-input-placeholder {
   color: #ccc;
   font-weight: normal;
   font-family: "Microsoft yahei";
   font-size: 20px;
}

.g-icon {
    width: 20px;
    height: 20px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.m-main {
    min-height: 100vh;
}

.m-card-wrap {
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
}

.m-card {
    width: calc( (100% - 15px)/4 );
    margin: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
    background: #eee;
    height: 60px;
    box-sizing: border-box;
    padding: 0 0 0 5px;
    position: relative;
}



.m-card:nth-child(4n) {
  margin: 0;
}

.m-base {
    font-size: 12px;
    color: #333;
    padding: 0px 0 0 2px;
}

.m-hg {
    font-size: 12px;
    color: #333;
    display: flex;
    flex: 1;
    color: #333;
}


.m-chi {
   font-size: 12px;
    color: #ff3300;
}

.m-nav {
    background: #333;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 0;
}

.m-btn {
  background: #fff;
  padding: 2px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px;
  background: #39F;
  color: #fff;
  flex: 1;
}


.m-detail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    display: none;
    height: calc( 100vh + 30px );
}

.m-bs-wrap,.m-hg-wrap,.m-ex-wrap {
    display: flex;
    padding: 10px 50px 10px 50px;
    justify-content: center;
    font-size: 36px;
    
}

.m-bs-wrap {
    background: #666;
}

.m-ex-wrap {
    background: #eee;
    color: #666;

}

.m-hg-wrap {
    background: #aaa;
    color: #fff
}

.m-bs-wrap .m-base {
    font-size: 72px;
    padding: 0 10px;
    color: #fff
}

.m-bs-wrap .m-hg {
    font-size: 20px;
    flex: none;
    color: #eee;
}

.m-ex {
    display: flex;
    padding: 5px 10px 5px 20px;
    border-bottom: 1px dashed #ccc;
}

.m-jp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.m-chinese {
    padding: 20px 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex: 1;
}

.m-jp .m-base {
    font-size: 32px;
    order: 2;
    letter-spacing: 5px;
    margin-top: -10px;
}

.m-jp .m-hg {
    order: 1;
    font-size: 24px;
    margin: 0;
    transform-origin: left;
}

.m-fun {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    right: 0px;
    left: 0px;
    box-sizing: border-box;
    height: 40px;
}

.m-close {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #666;
    color: #fff;
    padding: 5px 25px;
}

.simple-pagination {
    position: fixed;
    bottom: 0;
    padding: 5px!important;
}

.simple-pagination li {
    opacity: 0.6;
}

.m-all {
    background: #666;
}

.m-not {
    background: #ccc;
}

.m-no,.m-for {
    background: #ff0000;
}

.m-ok,.m-Rem {
    background: #06bf00;
}

.m-type1 {
    background: #8ba;
}
.m-type2 {
    background: #fba;
}

.m-ch {
    border-bottom: 3px solid #ff6600;
}

.m-search {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    /* opacity: 0.9; */
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.m-search-fun {
    padding: 10px 0 0 0;
    height: 40px;
    display: flex;
}

.m-search-wrap {
    width: 100%;
    background: #ccc;
    display: flex;
    padding: 10px 5px;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 150px;
}

.m-search-cnt {
    outline: 0;
    border: 1px solid #999;
    flex: 1;
    padding: 10px 20px;
    font-size: 24px;
    margin: 0 5px;
}

.m-search-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: .3em .8em;
    border: 1px solid rgba(0,0,0,.1);
    background: #58a linear-gradient(hsla(0,0%,100%,.2), transparent);
    border-radius: .2em;
    color: white;
    text-shadow: 0 -0.05em 0.05em rgba(0,0,0,.5);
    font-size: 125%;
    line-height: 1.5;
}

.m-search-btn svg {
    margin-right: 10px;
}

.m-search-cancel {
    background-color: #06bf00;
}

.m-search-ok {
    background-color: #ff0000;
}

.m-card label {
    position: absolute;
    right: 2px;
    bottom: 0;
    color: #66f;
    font-size: 12px;
}