<div class="m-card-wrap">
  {{for list}}
  <li class="m-card m-type{{:ln}} m-ch" data-index={{:idx}}>
  		<span class="m-base">{{:base}}</span>
  		<span class="m-hg">
  			{{for hiragana}}
  				<i>{{:#data}}</i>
  			{{/for}}
  		</span>
      <span class="m-chi">
        {{:chinese}}
      </span>
      <label>{{:type}}</label>
  </li>
  {{/for}}
</div>

<ul class="simple-pagination" id="card-pagination"></ul>

